node_modules
n.next
ndist
n.turbo
.env
.idea
apps/core_microservice/uploads/

# Compiled JavaScript files
*.js
*.js.map
*.d.ts
# Testing and Coverage
apps/coverage/
coverage/
test-results/
test-results-new/
playwright-report/
blob-report/
playwright/.last-run.json
.nyc_output/
.turbo/cache
.turbo
.turbo*